apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    certificate-authority: {{ kube_cert_dir }}/ca.pem
    server: {{ kube_apiserver_endpoint }}
users:
- name: kubelet-bootstrap
  user:
    as-user-extra: {}
    token: {{ kube_bootstrap_token }}
contexts:
- context:
    cluster: local
    user: kubelet-bootstrap
  name: bootstrap-{{ cluster_name }}
current-context: bootstrap-{{ cluster_name }}
